body {
	line-height: 1.9em !important;
}

.videoStyle {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.smoothLink {
	cursor: pointer;
}

.navbar {
	padding: 15px;
	border-color: transparent;
	box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.08);
	backdrop-filter: blur(90px);
	z-index: 2;
	border-bottom: '1px solid #bfa25a';
}

.productContainerScrollBar::-webkit-scrollbar {
	height: 5px;
	width: 12px;
}

.productContainerScrollBar::-webkit-scrollbar-track {
	background-color: transparent;
}

.productContainerScrollBar::-webkit-scrollbar-thumb {
	background-color: gray;
	max-width: 10px !important;
}

.blackHeading {
	color: black !important;
	text-align: center;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
